:host {
    display: flex;    
    
    .vertical-text {
        display: flex;
        flex-direction: column;
    }

    divider {
        height: 300px;
        margin-right: 40px;
    }

    .works-cards {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 40px 40px;

        card {
            width: calc(33% - 40px);
        }
    }
}
