<section [@list]="intersecting" waIntersectionObserver waIntersectionThreshold="0.3" (waIntersectionObservee)="onIntersection($event)">
    <h1 [@enterBottomFast]="intersecting" class="title">What I know.</h1>
    <div [@enterBottom]="intersecting" class="list-tech margin-top-45">
        <tooltip [content]="jsTooltip">
            <icon class="tech" name="js"></icon>
        </tooltip>
        <ng-template #jsTooltip>Javascript</ng-template>

        <tooltip [content]="angularTooltip">
            <icon class="tech" name="angular"></icon>
        </tooltip>
        <ng-template #angularTooltip>Angular</ng-template>

        <tooltip [content]="reactTooltip">
          <icon class="tech" name="react"></icon>
        </tooltip>
        <ng-template #reactTooltip>React</ng-template>

        <tooltip [content]="tsTooltip">
            <icon class="tech" name="ts"></icon>
        </tooltip>
        <ng-template #tsTooltip>Typescript</ng-template>

        <tooltip [content]="nodeTooltip">
            <icon class="tech" name="node"></icon>
        </tooltip>
        <ng-template #nodeTooltip>Node</ng-template>

        <tooltip [content]="sassTooltip">
            <icon class="tech" name="sass"></icon>
        </tooltip>
        <ng-template #sassTooltip>Sass</ng-template>

        <tooltip [content]="htmlTooltip">
            <icon class="tech" name="html"></icon>
        </tooltip>
        <ng-template #htmlTooltip>HTML5</ng-template>

        <tooltip [content]="npmTooltip">
            <icon class="tech" name="npm"></icon>
        </tooltip>
        <ng-template #npmTooltip>npm</ng-template>

        <tooltip [content]="pythonTooltip">
            <icon class="tech" name="python"></icon>
        </tooltip>
        <ng-template #pythonTooltip>Python</ng-template>

        <tooltip [content]="tfTooltip">
            <icon class="tech" name="tf"></icon>
        </tooltip>
        <ng-template #tfTooltip>Tensorflow</ng-template>

        <tooltip [content]="gitTooltip">
            <icon class="tech" name="git"></icon>
        </tooltip>
        <ng-template #gitTooltip>Git</ng-template>

        <tooltip [content]="dockerTooltip">
          <icon class="tech" name="docker"></icon>
        </tooltip>
        <ng-template #dockerTooltip>Docker</ng-template>
    </div>
</section>