<div @list [@TranslateUpDown]="scrolled$ | async" class="toolbar-wrapper">
    <a @dropDown routerLink="/" fragment="about"><span highlight>.get(</span> <span class="argument">About me</span> <span
            highlight>)</span></a>
    <a @dropDown routerLink="/" fragment="works"><span highlight>.get(</span> <span class="argument">My works</span> <span
            highlight>)</span></a>
    <a @dropDown routerLink="/" fragment="contact"><span highlight>.get(</span> <span class="argument">Get in touch</span> <span
            highlight>)</span></a>
</div>