<section waIntersectionObserver waIntersectionThreshold="0.3" (waIntersectionObservee)="onIntersection($event)">
  <h1 [@enterBottomDelayed]="intersecting" class="heading-03 section-title">
    <span highlight>.getAbout(</span> me <span highlight>)</span>
  </h1>
  <divider [@enterBottomDelayed]="intersecting"></divider>
  <div [@list]="intersecting" class="section">
    <div [@enterBottom]="intersecting" class="text">
      <p>
        My name is Marco and I live in Italy. My passion for computers and technologies started since I was very young.
        Whenever the first possibility of choosing my own path came, I chose science and in particular <span
          highlight>Computer Science</span>.
        I love building things which can surprise people, simply by being creative, funny or include lots of behind the
        scenes work.
      </p>
      <p>
        During university I also worked at <a class="expometals" href="https://www.expometals.net" target="_blank" highlight>Expometals</a> where I've come to know <span highlight>Angular</span> and digged deeper into web development which I
        found out to be the most fun and creative environment.
        I've also studied <span highlight>AI</span> and <span highlight>machine learning</span> which offer so many new
        possibilities in the context of web development. I'm most fascinated in the field
        of <span highlight>NLP</span> where I try to stay up to date.
      </p>
    </div>
  
    <div [@enterRight]="intersecting" class="me">
      <img src="/assets/me.jpg">
      <div class="frame"></div>
    </div>
  
  </div>
</section>
