header {
    margin: 300px 100px 0px;
}

#about {
    padding: 100px 0px;
    margin: 200px 0px 0px 0px;
    about {
        margin: 0px auto
    }
}

technologies {
    margin: 0px auto 0px auto;
}

#works {
    padding: 100px 0px 100px;
    margin: 100px 100px 0px;
    works {
        margin: 0px auto;
    }
}

#contact {
    contact-me {
        padding: 100px;
        margin:  0px auto;
    }
}

.made-with {
    position: fixed;
    bottom: 0px;
    left: 0;
    writing-mode: vertical-rl;
    font-family: var(--font-secondary);
    color: var(--primary);
    font-size: var(--text-size-xs);

    &:hover {
        .link-wrapper {
            transform: rotate(-180deg) translateY(20px);

            &::after {
                height: 100%;
            }
        }
    }

    .link-wrapper {
        position: relative;
        width: 100%;
        padding: 16px;
        transform: rotate(-180deg) translateY(0);
        transition: all 250ms ease-out;

        icon {
            transform: rotate(90deg);
        }
    
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 1px;
            height: 0px;
            border-radius: 6px;
            transition: all 250ms ease-out;

            background-color: var(--primary);
        }
    }
}

circle-link {
    position: fixed;
    bottom: 20px;
    right: 20px;
}


@media screen and (max-width: 1000px) {
    about {
        margin: 0px 100px !important;
    }

    technologies {
        margin: 0px 100px !important;
    }
}

@media screen and (max-width: 620px) {
    .made-with {
        position: relative;
        transform: none;
        writing-mode: horizontal-tb;
        

        .link-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            transition: none;
            transform: none;
            box-sizing: border-box;

            icon {
                margin-left: 10px;
                transform: none;
            }
        }

        &:hover {
            .link-wrapper {
                transform: none;
    
                &::after {
                    height: 0px;
                    width: 0px;
                }
            }
        }
        //display: none !important;
    }

    header {
        margin: 150px 30px 0px !important;
    }

    #about {
        margin: 200px 0px 0px 0px;
        about {
            margin: 0px 30px !important
        }
    }

    technologies {
        margin: 0px 30px !important;
    }

    #works {
        margin: 70px 0px 0px !important;
        works {
            margin: 0px 30px !important;
        }
    }

    #contact {
        margin: 0px !important;

        contact-me {
            padding: 50px !important;
        }
    }

}