<section [@list]="intersecting" waIntersectionObserver waIntersectionThreshold="0.1" (waIntersectionObservee)="onIntersection($event)">
  <p [@enter]="intersecting" class="header-intro">
    Hello, my name is
  </p>
  <h1 [@enter]="intersecting" class="header-name heading-01">
    <wobble-word>Marco</wobble-word>&nbsp;<wobble-word>Ripamonti</wobble-word>
  </h1>
  <h2 [@enter]="intersecting" class="subheader heading-02">
    <wobble-word>I</wobble-word>&nbsp;<wobble-word><span highlight>love</span></wobble-word>&nbsp;<wobble-word>building
    </wobble-word>&nbsp;<wobble-word>things</wobble-word>&nbsp;<wobble-word>for</wobble-word>&nbsp;<wobble-word>the
    </wobble-word>&nbsp;<wobble-word>web.</wobble-word>
  </h2>
  <p [@enter]="intersecting" class="subheader-description margin-top-45">
    I have a master's degree in Computer Science and I am based in Italy. I'm most comfortable with building ideas for
    the web.
    I am a full stack developer, frontend developer and sometimes I like integrating machine learning in my projects.
  </p>

  <a href="mailto:marco.ripa.96@gmail.com" [@enter]="intersecting" appButton appearance="outlined">Contact me</a>

  <div [@enter]="intersecting" class="mail">
    <a href="mailto:marco.ripa.96@gmail.com" appButton appearance="flat" icon="mail"></a>
    <a href="https://twitter.com/ripa_96" target="_blank" appButton appearance="flat" icon="twitter"></a>
    <a href="https://www.instagram.com/marco.ripa.96/" target="_blank" appButton appearance="flat" icon="instagram"></a>
  </div>
</section>