:host {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 20px 0;

    .tag {
        font-size: var(--text-size-xs);
        color: var(--primary);
        font-family: var(--font-secondary);
        font-style: italic;
        opacity: 0.3;
    }

    .content {
        padding-left: 20px;
    }
}