/* You can add global styles to this file, and also import other style files */
:root {
    --background-base-01: #202030;
    --background-base-02: #2b2b3f;
    --background-base-03: #3a3a56;
    --text-01: #ccd6f6;
    --text-02: #8892b0;
    --text-03: #202030;
    --primary: #64ffda;
    --font-primary: 'Quicksand', sans-serif;
    --font-secondary:'Fira Mono', monospace;
    --heading-01: 80px;
    --heading-02: 60px;
    --heading-03: 40px;
    --text-size-lg: 36px;
    --text-size-md: 24px;
    --text-size-sm: 16px;
    --text-size-xs: 12px;
    --border-radius-sm: 6px;
}

// dynamic padding
$direction:('right','left','top','bottom');
$length:(0,5,10,15,30,45,50);

@each $dir in $direction {
  @each $len in $length {
    .padding-#{$dir}-#{$len} { padding-#{$dir}: #{$len}px;}
  }
}

// dynamic margin
@each $dir in $direction {
  @each $len in $length {
    .margin-#{$dir}-#{$len} { margin-#{$dir}: #{$len}px;}
  }
}

.heading-01 {
    font-size: var(--heading-01);
    margin: 12px 0px;
}
.heading-02 {
    font-size: var(--heading-02);
    margin: 12px 0px;
}

html {
  height: 100%;
}

body {
    background-color: var(--background-base-01);
    color: var(--text-02);
    font-family: var(--font-primary);
    margin: 0px;
    height: 100%;

    &::-webkit-scrollbar {
      width: 7px;
    }
    
    /* Track */
    &::-webkit-scrollbar-track {
      background: var(--background-base-01);
    }
    
    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: rgb(69, 69, 104, 0.7);
      border-radius: 16px;
    }
}

a {
  color: inherit;
  text-decoration: none;
}